<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rafinskipg.gitella" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gitella</name>
    <description>
        A usefull git cheat sheet.
    </description>
    <author email="rafinskipg@gmail.com" href="http://rvpg.me">
        Rafinskipg
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>