div(ng-controller="mainCtrl")
  div.badges.row
    div.col-xs-2.col(ng-repeat="image in images")
      img(src="{{image.url}}", ng-click="setFilter(image.filter)", ng-class="{'active': active == image.filter}")

  div.blocks(ng-class="{'none': !isLoaded}")
    div.message(ng-show="active != 'latte'")
      p 
        i **hint: you can save your prefered cheats for latte by tapping on the title
    div.cheat(data-scroll-reveal="{{ cheat.scrollReveal }}"  ng-repeat="cheat in gitCheats | filter:filters" on-finish-render ng-click="mark(cheat)")
      h3 {{ cheat.title }}
      span.glyphicon.glyphicon-ok-sign(ng-show="cheat.checked")
      pre
        code
          p(ng-repeat="code in cheat.commands") {{ code }}